#****
##    Data Engineering
##

#**Parte 1:** Programático

In [35]:
#Se importa la libreria boto3 para acceder a AWS, panda y declaran credenciales de acceso:

import boto3
import pandas as pd
import io
import numpy as np
import sqlite3

path = 'C:/Users/ameso/Documents/RockingD/'
KeyID = 'AKIA2NU5TZR6RVMXSOKK'
SecretKey = '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'
Bucket = 'desafio-rkd'

In [2]:
#Se declara cliente con credenciales
s3 = boto3.client('s3', aws_access_key_id = KeyID , aws_secret_access_key = SecretKey)


#Descarga de archivos
s3.download_file(Bucket ,Key = 'netflix_titles.csv', Filename = 'netflix_titles.csv')
s3.download_file(Bucket, Key = 'disney_plus_titles.csv', Filename = 'disney_plus_titles.csv')

In [36]:
#Se trae la información de cada bucket y arman dos dataframe preparados para trabajar.

obj = s3.get_object(Bucket = Bucket ,Key = 'netflix_titles.csv')
netflix = pd.read_csv(io.BytesIO(obj['Body'].read()), sep=";")

obj = s3.get_object(Bucket = Bucket ,Key = 'disney_plus_titles.csv')
disney = pd.read_csv(io.BytesIO(obj['Body'].read()), sep=",")

In [4]:
netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [5]:
disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

##**Parte 2:** QA

In [37]:
#Se setean indices:

disney.set_index('show_id', inplace=True)
netflix.set_index('show_id', inplace=True)

#**Netflix**
Tratamiento de Data Frame

In [38]:
#describimos y vemos que valores son tomados de manera cualitativa
netflix.describe()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8808,8807,6173,7983,7976,8797,8807,8803,8804,8806,8806
unique,3,8807,4528,7693,749,1768,75,18,221,514,8774
top,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",2018,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,6131,1,19,19,2817,109,1147,3207,1793,362,4

In [8]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8809 entries, s1 to s8807
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8808 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7983 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   object
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8806 non-null   object
 10  description   8806 non-null   object
dtypes: object(11)
memory usage: 825.8+ KB

In [9]:
#Se intenta ajustar formato de fecha, pero tira error: "ParserError: Unknown string format: TV-PG"

netflix['date_added'] = pd.to_datetime(netflix['date_added'])

ParserError: Unknown string format: TV-PG

In [39]:
#Se ve al menos un error en el formato de una de las filas del DF: "TV-PG". 
#Se analiza la fila, y se ve que esta cortada, no fue separada bien al ser importada.
#al revisar el dato en google, entendemos que "flying fortress de william wyler corres ponde a "The Memphis Belle: A Story of a Flying Fortress" 
netflix.loc[(netflix['date_added'] == "TV-PG")]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [11]:
#Se ve que tambien hay problema con esta fila donde le faltan los valores vistos antes.

netflix.loc[(netflix['title'] == "The Memphis Belle: A Story of a")]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s8420,Movie,The Memphis Belle: A Story of a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Al ser la unica fila, se corrige rápidamente el data frame a mano con los valores correctos. 

netflix['title']['s8420'] = "The Memphis Belle: A Story of a Flying Fortress"
netflix['director']['s8420'] = "William Wyler"
netflix['cast']['s8420'] = "NaN"
netflix['country']['s8420'] = "United States"
netflix['date_added']['s8420'] = "March 31, 2017"
netflix['release_year']['s8420'] = "1944"
netflix['rating']['s8420'] = "TV-PG"
netflix['duration']['s8420'] = "40 min"
netflix['listed_in']['s8420'] = netflix['rating']['Flying Fortress"']
netflix['description']['s8420'] = netflix['duration']['Flying Fortress"']

#Se borra la fila de id 'Flying Fortress"'
netflix.drop('Flying Fortress"', inplace=True)

In [13]:
#Se chequea que haya quedado bien la fila

netflix.loc['s8420']

type                                                        Movie
title             The Memphis Belle: A Story of a Flying Fortress
director                                            William Wyler
cast                                                          NaN
country                                             United States
date_added                                         March 31, 2017
release_year                                                 1944
rating                                                      TV-PG
duration                                                   40 min
listed_in                           Classic Movies, Documentaries
description     This documentary centers on the crew of the B-...
Name: s8420, dtype: object

In [42]:
#Se ajusta formato de fecha. 
netflix['date_added']= pd.to_datetime(netflix['date_added'])

#El formato fecha de año imputa valor de mes y dia (1 de enero), asi que me parece prudente ir a formato numerico. 
netflix['release_year'] = pd.to_numeric(netflix['release_year'])

In [15]:
netflix.info(6)

<class 'pandas.core.frame.DataFrame'>
Index: 8808 entries, s1 to s8807
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7983 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   datetime64[ns]
 6   release_year  8807 non-null   float64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
 10  description   8807 non-null   object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 1.1+ MB

In [16]:
#Se define seperar la duracion para peliculas que esta en minutos y las series que estan en Temporadas

netflix['duration'].value_counts()

1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
94 min        146
             ...
16 min          1
186 min         1
193 min         1
189 min         1
191 min         1
Name: duration, Length: 220, dtype: int64

In [43]:
#Revisa los types que se tienen
netflix['type'].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [44]:
#Se arman columnas de minutos para las peliculas y temporadas para las series
netflix['minutes'] = np.where(netflix['type'] == 'Movie', [i[0] if type(i) == list else None for i in netflix['duration'].str.split()], None)
netflix['minutes'] = pd.to_numeric(netflix['minutes'])
netflix['season'] = np.where(netflix['type'] == 'TV Show', [i[0] if type(i) == list else None for i in netflix['duration'].str.split()], None)
netflix['season'] = pd.to_numeric(netflix['season'])
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,minutes,season
show_id,,,,,,,,,,,,,
s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90.0,NaN
s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,2.0
s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,1.0
s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,1.0
s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,2.0

In [19]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8808 entries, s1 to s8807
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7983 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   datetime64[ns]
 6   release_year  8807 non-null   float64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
 10  description   8807 non-null   object
 11  minutes       6128 non-null   float64
 12  season        2676 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 1.2+ MB

##**Disney**
Tratamiento de Data Frame

In [20]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1450 entries, s1 to s1450
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          1450 non-null   object
 1   title         1450 non-null   object
 2   director      977 non-null    object
 3   cast          1260 non-null   object
 4   country       1231 non-null   object
 5   date_added    1447 non-null   object
 6   release_year  1450 non-null   int64
 7   rating        1447 non-null   object
 8   duration      1450 non-null   object
 9   listed_in     1450 non-null   object
 10  description   1450 non-null   object
dtypes: int64(1), object(10)
memory usage: 135.9+ KB

In [45]:
#Cambio a formato fecha
disney['date_added']= pd.to_datetime(disney['date_added'])

In [46]:
#Separa la duracion para peliculas y temporadas para las series
disney['minutes'] = np.where(disney['type'] == 'Movie', [i[0] if type(i) == list else None for i in disney['duration'].str.split()], None)
disney['minutes'] = pd.to_numeric(disney['minutes'])
disney['season'] = np.where(disney['type'] == 'TV Show', [i[0] if type(i) == list else None for i in disney['duration'].str.split()], None)
disney['season'] = pd.to_numeric(disney['season'])

disney.head(6)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,minutes,season
show_id,,,,,,,,,,,,,
s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-11-26,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,23.0,NaN
s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,2021-11-26,1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,91.0,NaN
s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2021-11-26,2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,23.0,NaN
s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021-11-26,2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",41.0,NaN
s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,2021-11-25,2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,NaN,1.0
s6,Movie,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,2021-11-24,2021,PG-13,94 min,"Biographical, Documentary",An inside look at the legendary life of advent...,94.0,NaN

#**Parte 3:** Modelado de datos

##Creación de una tabla de actores y cantidad de peliculas. 
Se crearán dos tablas extra donde se separan los actores del cast en filas por pelicula.

In [47]:
#Creacion de nuevas tablas:
actors_disney = disney.copy()
actors_netflix = netflix.copy()

In [48]:
# Disney, explode de 'cast' en filas
actors_disney['cast'] = actors_disney['cast'].str.split(', ')
actors_disney = actors_disney.explode('cast').reset_index(drop=True)
cols = list(actors_disney.columns)
cols.append(cols.pop(cols.index('cast')))
actors_disney = actors_disney[cols]

#Limpieza
actors_disney = actors_disney.drop(['type','director','country', 'date_added', 'rating', 'duration',\
                                    'listed_in', 'description', 'minutes', 'season'], axis = 1)
actors_disney = actors_disney.rename(columns={'cast':'actor'})

In [25]:
actors_disney.head(3)

,title,release_year,actor
0,Duck the Halls: A Mickey Mouse Christmas Special,2016,Chris Diamantopoulos
1,Duck the Halls: A Mickey Mouse Christmas Special,2016,Tony Anselmo
2,Duck the Halls: A Mickey Mouse Christmas Special,2016,Tress MacNeille

In [49]:
#Netflix, explode de 'cast' en filas
actors_netflix['cast'] = actors_netflix['cast'].str.split(', ')
actors_netflix = actors_netflix.explode('cast').reset_index(drop=True)
cols = list(actors_netflix.columns)
cols.append(cols.pop(cols.index('cast')))
actors_netflix = actors_netflix[cols]

#Limpieza de columnas no requeridas en tabla
actors_netflix = actors_netflix.drop(['type','director','country', 'date_added', 'rating', 'duration', \
                                      'listed_in', 'description', 'minutes', 'season'], axis = 1)
actors_netflix = actors_netflix.rename(columns={'cast':'actor'})

In [50]:
actors_netflix.head(3)

                  title  release_year        actor
0  Dick Johnson Is Dead        2020.0          NaN
1         Blood & Water        2021.0   Ama Qamata
2         Blood & Water        2021.0  Khosi Ngema

Se elige exportar las tablas a *SQLite*

In [51]:
conex = sqlite3.connect("pelis.db")
netflix.to_sql("netflix",conex, if_exists = "replace")
disney.to_sql("disney",conex, if_exists = "replace")
actors_netflix.to_sql("actors_netflix",conex, if_exists = "replace")
actors_disney.to_sql("actors_disney",conex, if_exists = "replace")
conex.close()

##**Parte 4:** SQL
Querys:

In [52]:
#Conexión a la tabla
conex = sqlite3.connect("pelis.db")

In [53]:
#Considerando únicamente la plataforma de Netflix, ¿qué actor aparece más veces?
top_actor = pd.read_sql('SELECT actor, count(title) AS cant FROM actors_netflix \
                        WHERE actor NOT NULL GROUP BY actor \
                        ORDER BY cant DESC LIMIT 1',conex)
                      
top_actor

         actor  cant
0  Anupam Kher    43

In [31]:
#Top 10 de actores participantes considerando ambas plataformas en el año actual. Se aprecia flexibilidad.
#Al no haber valores de año actual, se toman valores de 2021

top10 = pd.read_sql('SELECT actor, count(title) AS cant FROM actors_netflix \
                    WHERE actor NOT NULL AND release_year = 2021 GROUP BY actor \
                    UNION SELECT actor, count(title) AS cant FROM actors_disney \
                    WHERE actor AND release_year = 2021  NOT NULL GROUP BY actor \
                    ORDER BY cant  DESC LIMIT 10', conex)
top10

                actor  cant
0    Fortune Feimster    11
1         David Spade    10
2       London Hughes    10
3        Grey Griffin     5
4    Aishwarya Rajesh     4
5  Avantika Vandanapu     4
6     Fred Tatasciore     4
7       Kari Wahlgren     4
8             Madhuri     4
9   Pavel Navageethan     4

In [54]:
#Crear un Stored Proceadure que tome como parámetro un año y devuelva una tabla con las 5 películas con mayor duración en minutos.
#SQLite no admite creacion de stored proceadures, se recrea el procedimiento dentro de python:

year = int(input("Elegir año: "))

Elegir año:  2012

In [55]:
pelis_largas = pd.read_sql('SELECT title, minutes FROM netflix WHERE release_year = %d \
                            UNION SELECT title, minutes FROM disney WHERE release_year = %d \
                            ORDER BY minutes  DESC LIMIT 5' % (year, year), conex)
pelis_largas

              title  minutes
0       Cloud Atlas    172.0
1  Django Unchained    165.0
2           Players    162.0
3           Tukaram    162.0
4    Les Misérables    158.0

In [56]:
#Se cierra la conexión
conex.close()